<table width="100%" style="border: 0px solid #000000; font-family: arial; font-size: 9pt;" cellspacing="0" cellpadding="14">
    <tr>
        <td style="text-align: left;  font-size: 6pt;" colspan="2">Sistema: {SISNOME} {SISVERSAO}</td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>	
        <td style="text-align: right; font-size: 6pt;"></td>
        <td style="text-align: right; font-size: 6pt;"></td>			
        <td style="text-align: center; font-size: 6pt;">Emissão: {TIMESTAMP}</td>
    </tr>
    <tr>
        <td style="text-align: center; font-size:11pt;" colspan="14"><b>{TITULO}</b></td>
    </tr>
    <tr>
        <td style="text-align: left;  font-size: 6.5pt;  border-top: 0.5px solid #555555;" colspan="14"><b>Filtros:</b> {FILTRO}</td>
    </tr>
</table> 