<table width="100%" style="border: 0px solid #000000; font-family: arial; font-size: 9pt;" cellspacing="0" cellpadding="5">
    <tr>
        <td width="180" style="border: 0.5px solid #000000;"> <img src="images/logo-empresa-80.png" width="180px" /></td>
        <td style="border: 0.5px solid #000000;" align="left">
            <table width="600" style="font-family: arial; font-size: 9pt; border: 0px solid #000000;" cellspacing="0" cellpadding="5">
                <tr>"
                    <td style="text-align: left;  font-size: 6pt;">Sistema: {SISNOME} {SISVERSAO}</td>
                    <td style="text-align: center; font-size: 6pt;">Emissão: {DATE j-m-Y H:m}</td>
                    <td style="text-align: right; font-size: 6pt;">Página: {PAGENO} de {nb}</td>
                </tr>
                <tr>
                    <td style="text-align: center; font-size:11pt;" colspan="3"><b>{TITULO}</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;  font-size: 6.5pt;  border-top: 0.5px solid #555555;" colspan="3"><b>Filtros:</b> {FILTRO}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>